html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background: url('../images/taustakuva.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}