html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background: url('../images/taustakuva.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 90vh;
    margin: 0 auto;
    background-color: rgba(43, 43, 43, 0.7);
}

.status-panel {
    flex: 1;
    color: #39FF14;
    font-family: 'Oxanium', sans-serif;
    padding: 1rem;
}

.sateily-danger {
    color: #FF0000;
    text-shadow: 0 0 12px #FF0000, 0 0 24px #FF0000;
    animation: blink 1.2s step-start infinite;
    font-style: bold;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

#radio-signal::after {
    content: "";
    animation: dots 1.5s steps(4, end) infinite;
    font-weight: bold;
}

@keyframes dots {
    0% { content: ""; }
    25% { content: "."; }
    50% { content: ".."; }
    75% { content: "..."; }
    100% { content: ""; }
}

.paivakirja {
    flex: 1;
    padding: 1rem;
    font-family: 'Oxanium', sans-serif;
    color: #A2C2A1;
    display: flex;
    flex-direction: column;
    height: 95%;
}

#loki {
    padding: 0.5rem;
    overflow-y: auto;
    flex: 1;
}

.lokiMerkinta {
    background-color: #4A4A4A;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.mt-otsikko,
.tilanne,
.alueet,
.radio,
.pk-otsikko {
    font-family: 'Orbitron', sans-serif;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }
    body {
        overflow: hidden;
    }
}