html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background: url('../images/taustakuva.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
    background-color: rgba(43, 43, 43, 0.7);
}

.status-panel {
    flex: 1;
    color: #39FF14;
    font-family: 'Oxanium', sans-serif;
    padding: 1rem;
}

.paivakirja {
    flex: 1;
    padding: 1rem;
    font-family: 'Oxanium', sans-serif;
    color: #A2C2A1;
}

.mt-otsikko,
.tilanne,
.alueet,
.radio,
.pk-otsikko {
    font-family: 'Orbitron', sans-serif;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }
    body {
        overflow: hidden;
    }
}